<script>
			$(document).ready(function () {

					var oMain = new CMain({
							bonus_time: 1800, //BONUS TIME ADDED WHEN THE USER COMPLETE THE PUZZLE BETWEEN TIME IN SECONDS
							num_levels_for_ads: 3 //NUMBER OF TURNS PLAYED BEFORE AD SHOWING //
											//////// THIS FEATURE  IS ACTIVATED ONLY WITH CTL ARCADE PLUGIN./////////////////////////// 
											/////////////////// YOU CAN GET IT AT: ///////////////////////////////////////////////////////// 
											// http://codecanyon.net/item/ctl-arcade-wordpress-plugin/13856421 ///////////
					});
					//oMain.gotoGame('Players');
					
					$(oMain).on("start_session", function (evt) {
							if (getParamValue('ctl-arcade') === "true") {
									parent.__ctlArcadeStartSession();
							}
					});


					$(oMain).on("end_session", function (evt) {
							if (getParamValue('ctl-arcade') === "true") {
									parent.__ctlArcadeEndSession();
							}
					});


					$(oMain).on("start_level", function (evt, iLevel) {
							if (getParamValue('ctl-arcade') === "true") {
									parent.__ctlArcadeStartLevel({level: iLevel});
							}
					});

					$(oMain).on("end_level", function (evt, iLevel) {
							if (getParamValue('ctl-arcade') === "true") {
									parent.__ctlArcadeEndLevel({level: iLevel});
							}
					});

					$(oMain).on("save_score", function (evt, iScore) {
							if (getParamValue('ctl-arcade') === "true") {
									parent.__ctlArcadeSaveScore({score: iScore});
							}
							/*document.addEventListener('DOMContentLoaded', function () {
								angular.element(document.body).scope().crosswordscore(iScore);
								console.log(iScore,"score");
							});*/
							angular.element("#canvas").scope().crosswordscore(iScore);
							/*
							var formdata={};
							$.getJSON(adminurl+"index.php/json/authenticate",function(data){
								formdata.user=data.id;
								formdata.email=data.email;
								formdata.score= iScore;
								formdata.contest=3;
								formdata.totalquestions=0;
								$.getJSON( "http://admin.jaipurpinkpanthers.com/beta/index.php/json/savescore",formdata, function( resoponse ) {

								});
							});*/
							//angular.element($0).scope.crosswordscore(iScore);
							
					});

					$(oMain).on("show_interlevel_ad", function (evt) {
							if (getParamValue('ctl-arcade') === "true") {
									parent.__ctlArcadeShowInterlevelAD();
							}
					});

					$(oMain).on("share_event", function (evt, iScore) {
							if (getParamValue('ctl-arcade') === "true") {
									parent.__ctlArcadeShareEvent({img: TEXT_SHARE_IMAGE,
											title: TEXT_SHARE_TITLE,
											msg: TEXT_SHARE_MSG1 + iScore
															+ TEXT_SHARE_MSG2,
											msg_share: TEXT_SHARE_SHARE1
															+ iScore + TEXT_SHARE_SHARE1});
							}
					});

					if (isIOS()) {
							setTimeout(function () {
									sizeHandler();
							}, 200);
					} else {
							sizeHandler();
					}
			});

	</script>
<div class="rapid">
<div class="bgclas crossword">
	<div class=container>
	<div class="row">
		<div class="col-md-5 col-sm-5 col-xs-12">
			<img src="img/crossword/title.png" class="pull-right" height="200px" width="300px">
		</div>
			
			
		<div class="col-md-7 col-sm-7 col-xs-12 crosswordsec ">
			
			<h4>GAME 2: </br> FIND THE PANTHER NAME</h4>
			<canvas id="canvas" class='ani_hack' width="640" height="960" ng-controller="CrosswordCtrl"> </canvas>
			<div class="crosswordsection sections-one">
				
				<div class="table-responsive">          
  <table class="table">
    
    <tbody>
      <tr>
        		<td>Ajay</td>
						<td>amit</td>
						<td>jasvir</td>
						<td>Jawahar</td>
						<td>Shrikant</td>
						
						
      </tr>
      <tr>
        				<td>Ajay</td>
						<td>amit</td>
						<td>jasvir</td>
						<td>Jawahar</td>
						<td>Shrikant</td>
						
						
      </tr>
    </tbody>
  </table>
  </div>

					
				
				
			</div>

			<div class="maincrossword">
					<div class="table-responsive">          
  <table class="table">
    
    <tbody>
      <tr>

      					<div class="highlight">
       					 <td>L</td>
						<td>O</td>
						<td>R</td>
						<td>E</td>
						<td>M</td>
						</div>
						<td>I</td>
						<td>P</td>
						
      </tr>
      <tr>
        <td>L</td>
						<td>O</td>
						<td>R</td>
						<td>E</td>
						<td>M</td>
						<td>I</td>
						<td>P</td>
						
      </tr>
      <tr>
        <td>L</td>
						<td>O</td>
						<td>R</td>
						<td>E</td>
						<td>M</td>
						<td>I</td>
						<td>P</td>
						
      </tr>
      <tr>
        <td>L</td>
						<td>O</td>
						<td>R</td>
						<td>E</td>
						<td>M</td>
						<td>I</td>
						<td>P</td>
						
      </tr>
      <tr>
        <td>L</td>
						<td>O</td>
						<td>R</td>
						<td>E</td>
						<td>M</td>
						<td>I</td>
						<td>P</td>
						
      </tr>
      <tr>
        <td>L</td>
						<td>O</td>
						<td>R</td>
						<td>E</td>
						<td>M</td>
						<td>I</td>
						<td>P</td>
						
      </tr>
      <tr>
        <td>L</td>
						<td>O</td>
						<td>R</td>
						<td>E</td>
						<td>M</td>
						<td>I</td>
						<td>P</td>
						
      </tr>
      <tr>
        <td>L</td>
						<td>O</td>
						<td>R</td>
						<td>E</td>
						<td>M</td>
						<td>I</td>
						<td>P</td>
						
      </tr>
    </tbody>
  </table>
  </div>
				



				
			</div>			
		</div>
	</div>	
	</div>
</div>
</div>

