<div class="rapid">
<div class="bgclas crossword">
	<div class=container>
	<div class="row">
		<div class="col-md-5">
			<img src="img/crossword/title.png" class="pull-right" height="200px" width="300px">
		</div>
			
			
		<div class="col-md-7 crosswordsec ">
			
			<h4>GAME 2: </br> FIND THE PANTHER NAME</h4>
			<div class="crosswordsection sections-one">
				
				<div class="table-responsive">          
  <table class="table">
    
    <tbody>
      <tr>
        				<td>Ajay</td>
						<td>amit</td>
						<td>jasvir</td>
						<td>Jawahar</td>
						<td>Shrikant</td>
						
						
      </tr>
      <tr>
        				<td>Ajay</td>
						<td>amit</td>
						<td>jasvir</td>
						<td>Jawahar</td>
						<td>Shrikant</td>
						
						
      </tr>
    </tbody>
  </table>
  </div>

					
				
				
			</div>

			<div class="maincrossword">
					<div class="table-responsive">          
  <table class="table">
    
    <tbody>
      <tr>

      					<div class="highlight">
       					 <td>L</td>
						<td>O</td>
						<td>R</td>
						<td>E</td>
						<td>M</td>
						</div>
						<td>I</td>
						<td>P</td>
						
      </tr>
      <tr>
        <td>L</td>
						<td>O</td>
						<td>R</td>
						<td>E</td>
						<td>M</td>
						<td>I</td>
						<td>P</td>
						
      </tr>
      <tr>
        <td>L</td>
						<td>O</td>
						<td>R</td>
						<td>E</td>
						<td>M</td>
						<td>I</td>
						<td>P</td>
						
      </tr>
      <tr>
        <td>L</td>
						<td>O</td>
						<td>R</td>
						<td>E</td>
						<td>M</td>
						<td>I</td>
						<td>P</td>
						
      </tr>
      <tr>
        <td>L</td>
						<td>O</td>
						<td>R</td>
						<td>E</td>
						<td>M</td>
						<td>I</td>
						<td>P</td>
						
      </tr>
      <tr>
        <td>L</td>
						<td>O</td>
						<td>R</td>
						<td>E</td>
						<td>M</td>
						<td>I</td>
						<td>P</td>
						
      </tr>
      <tr>
        <td>L</td>
						<td>O</td>
						<td>R</td>
						<td>E</td>
						<td>M</td>
						<td>I</td>
						<td>P</td>
						
      </tr>
      <tr>
        <td>L</td>
						<td>O</td>
						<td>R</td>
						<td>E</td>
						<td>M</td>
						<td>I</td>
						<td>P</td>
						
      </tr>
    </tbody>
  </table>
  </div>
				



				
			</div>			
		</div>
	</div>	
	</div>
</div>
</div>

