<section>
  <header>
    <div class="banner wallpapper-img">
      <img src="img/game.jpg" alt="img-responsive">
    </div>
  </header>
  <div class="title">
    <h4>{{'RAID INTO THE PANTHER WORLD AND TACKLE OUR CHALLENGES'|translate}}</h4>
  </div>
</section>
<!--<section class="ps-relative">
  <div class="container-fluid">
    <div class="row">
      <div class="bg-first wallpapper-img ps-relative">
        <img src="img/1.png" alt="" class="">
        <div class="game-count text-pro">
          <div class="text-center">
            <h4> game 1</h4>
            <p>Lorem Ipsum is simply dummy text of
the printing and typesetting industry. </p>
<div class="count-time custom-list text-center">
  <ul class="padding0">
    <li>
      <div class="time-hrs">
        <h1 class="color-white font-tbl">
            <span>25</span>
            <b>:</b>
          </h1>
        <span class="color-white pr20">DAYS</span>
      </div>
    </li>
    <li>
      <div class="time-hrs">
        <h1 class="color-white font-tbl">
            <span>04</span>
            <b>:</b>
          </h1>
        <span class="color-white pr20">HOURS</span>
      </div>
    </li>
    <li>
      <div class="time-hrs">
        <h1 class="color-white font-tbl">
            <span>11</span>

          </h1>
        <span class="color-white pr20">MINUTES</span>
      </div>
    </li>

  </ul>
</div>
          </div>
        </div>
      </div>
    </div>

  <div class="row">
    <div class="middle-sec">
  <div class="col-md-6 pdl">
    <div class="bg-first wallpapper-img ps-relative">
      <img src="img/2.png" alt="" class="">
      <div class="game-count2 text-pro">
        <div class="text-center">
          <h4> game 2</h4>
          <p>Lorem Ipsum is simply dummy text of
the printing and typesetting industry. </p>
<div class="count-time custom-list text-center">
<ul class="padding0">
  <li>
    <div class="time-hrs">
      <h1 class="color-white font-tbl">
          <span>25</span>
          <b>:</b>
        </h1>
      <span class="color-white pr20">DAYS</span>
    </div>
  </li>
  <li>
    <div class="time-hrs">
      <h1 class="color-white font-tbl">
          <span>04</span>
          <b>:</b>
        </h1>
      <span class="color-white pr20">HOURS</span>
    </div>
  </li>
  <li>
    <div class="time-hrs">
      <h1 class="color-white font-tbl">
          <span>11</span>

        </h1>
      <span class="color-white pr20">MINUTES</span>
    </div>
  </li>

</ul>
</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 pdr">
    <div class="bg-first wallpapper-img ps-relative ps-relative">
      <img src="img/4.png" alt="" class="">
      <div class="game-count3 text-pro">
        <div class="text-center">
          <h4> game 3</h4>
          <p>Lorem Ipsum is simply dummy text of
the printing and typesetting industry. </p>
<div class="count-time custom-list text-center">
<ul class="padding0">
  <li>
    <div class="time-hrs">
      <h1 class="color-white font-tbl">
          <span>25</span>
          <b>:</b>
        </h1>
      <span class="color-white pr20">DAYS</span>
    </div>
  </li>
  <li>
    <div class="time-hrs">
      <h1 class="color-white font-tbl">
          <span>04</span>
          <b>:</b>
        </h1>
      <span class="color-white pr20">HOURS</span>
    </div>
  </li>
  <li>
    <div class="time-hrs">
      <h1 class="color-white font-tbl">
          <span>11</span>

        </h1>
      <span class="color-white pr20">MINUTES</span>
    </div>
  </li>

</ul>
</div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
    <div class="row">
      <div class="bg-first wallpapper-img pt10 ps-relative">
        <img src="img/3.png" alt="" class="">
        <div class="game-count text-pro">
          <div class="text-center">
            <h4> game 4</h4>
            <p>Lorem Ipsum is simply dummy text of
  the printing and typesetting industry. </p>
  <div class="count-time custom-list text-center">
  <ul class="padding0">
    <li>
      <div class="time-hrs">
        <h1 class="color-white font-tbl">
            <span>25</span>
            <b>:</b>
          </h1>
        <span class="color-white pr20">DAYS</span>
      </div>
    </li>
    <li>
      <div class="time-hrs">
        <h1 class="color-white font-tbl">
            <span>04</span>
            <b>:</b>
          </h1>
        <span class="color-white pr20">HOURS</span>
      </div>
    </li>
    <li>
      <div class="time-hrs">
        <h1 class="color-white font-tbl">
            <span>11</span>

          </h1>
        <span class="color-white pr20">MINUTES</span>
      </div>
    </li>

  </ul>
  </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>-->

<section class="ps-relative game-row-1">
<!--<div class="container-fluid">-->
  <div class="img wallpaper-img">
    <img src="img/game/1.png" class="img-responsive"alt="img-responsive">
    <div class=" abs-game1">
      <div class="head-glanding">
      <h4>Game 1</h4>
      <h2 class="text-uppercase">Rapid fire with jpp</h2>
      </div>
      <div class="count-time custom-list">
  <ul class="padding0 ">
        <li>
      <div class="time-hrs">
        <ul>
          <li>
        <div class="color-white font-tbl pinkback-custom">
            <span>{{countdown.days}}</span>
            <!--<b>:</b>-->
          </div>
                  <div class="text-center color-white custom-text">DAYS</div>
          </li>
          <li class="semi-dot">:</li>
        </ul>

      </div>
    </li>
    <li>
      <div class="time-hrs">
        <ul>
          <li>
        <div class="color-white font-tbl pinkback-custom">
            <span>{{countdown.hours}}</span>
            <!--<b>:</b>-->
          </div>
                  <div class="text-center color-white custom-text">HOURS</div>
          </li>
          <li class="semi-dot">:</li>
        </ul>

      </div>
    </li>
     <li>
      <div class="time-hrs">
        <ul>
          <li>
        <div class="color-white font-tbl pinkback-custom">
            <span>{{countdown.minutes}}</span>
            <!--<b>:</b>-->
          </div>
                  <div class="text-center color-white custom-text">MINS</div>
          </li>
        </ul>

      </div>
    </li>

  </ul>
  </div>
  <a class="btn btn-large btn-sucess customize-cal">Add to calender</a>

    </div>

  </div>

<!--</div>-->
<div class="pink-line">
  <img src="img/game/band.png" class="img-responsive">
</div>

</section>

<section class="ps-relative game-row-2">
<!--<div class="container-fluid">-->
  <div class="img wallpaper-img">
    <img src="img/game/2.jpg" class="img-responsive"alt="img-responsive">
    <div class=" abs-game2">
      <div class="head-glanding">
      <h4>Game 2</h4>
      <h2 class="text-uppercase">Cross word</h2>
      </div>
      <div class="count-time custom-list">
  <ul class="padding0 ">
          <li>
        <div class="time-hrs">
          <ul>
            <li>
          <div class="color-white font-tbl pinkback-custom">
              <span>{{countdown.days}}</span>
              <!--<b>:</b>-->
            </div>
                    <div class="text-center color-white custom-text">DAYS</div>
            </li>
            <li class="semi-dot">:</li>
          </ul>

        </div>
      </li>
    <li>
      <div class="time-hrs">
        <ul>
          <li>
        <div class="color-white font-tbl pinkback-custom">
            <span>{{countdown.hours}}</span>
            <!--<b>:</b>-->
          </div>
                  <div class="text-center color-white custom-text">HOURS</div>
          </li>
          <li class="semi-dot">:</li>
        </ul>

      </div>
    </li>
    <li>
      <div class="time-hrs">
        <ul>
          <li>
        <div class="color-white font-tbl pinkback-custom">
            <span>{{countdown.minutes}}</span>
            <!--<b>:</b>-->
          </div>
                  <div class="text-center color-white custom-text">MINS</div>
          </li>
        </ul>

      </div>
    </li>

  </ul>
  </div>
  <a class="btn btn-large btn-sucess customize-cal">Add to calender</a>

    </div>

  </div>

<!--</div>-->
<div class="pink-line">
  <img src="img/game/band.png" class="img-responsive">
</div>

</section>
<section class="ps-relative game-row-3">
<!--<div class="container-fluid">-->
  <div class="img wallpaper-img">
    <img src="img/game/20.png" class="img-responsive"alt="img-responsive">
    <div class=" abs-game3">
      <div class="head-glanding">
      <h4>Game 3</h4>
      <h2 class="text-uppercase">{{'Guess Who' | translate}} <i class="fa fa-question fa-lg" aria-hidden="true"></i></h2>
      </div>
      <div class="count-time custom-list">
  <ul class="padding0 ">
    <li>
      <div class="time-hrs">
        <ul>
          <li>
        <div class="color-white font-tbl pinkback-custom">
            <span>{{countdown.days}}</span>
            <!--<b>:</b>-->
          </div>
                  <div class="text-center color-white custom-text">DAYS</div>
          </li>
          <li class="semi-dot">:</li>
        </ul>

      </div>
    </li>
<li>
      <div class="time-hrs">
        <ul>
          <li>
        <div class="color-white font-tbl pinkback-custom">
            <span>{{countdown.hours}}</span>
          </div>
                  <div class="text-center color-white custom-text">HOURS</div>
          </li>
          <li class="semi-dot">:</li>
        </ul>

      </div>
    </li>
  <li>
      <div class="time-hrs">
        <ul>
          <li>
        <div class="color-white font-tbl pinkback-custom">
            <span>{{countdown.minutes}}</span>
            <!--<b>:</b>-->
          </div>
                  <div class="text-center color-white custom-text">MINS</div>
          </li>
        <!--<span class="color-white pr20">DAYS</span>-->
        </ul>

      </div>
    </li>

  </ul>
  </div>
  <a class="btn btn-large btn-sucess customize-cal">Add to calender</a>

    </div>

  </div>

<!--</div>-->
<div class="pink-line">
  <img src="img/game/band.png" class="img-responsive">
</div>

</section>
<section class="ps-relative game-row-4">
<!--<div class="container-fluid">-->
  <div class="img wallpaper-img">
    <img src="img/game/5.jpg" class="img-responsive"alt="img-responsive">
    <div class=" abs-game4">
      <div class="head-glanding">
      <h4>Game 4</h4>
      <h2 class="text-uppercase">Match panthers</h2>
      </div>
      <div class="count-time custom-list">
        <div class="right-content">
  <ul class="padding0 ">
    <li>
      <div class="time-hrs">
        <ul>
          <li>
        <div class="color-white font-tbl pinkback-custom">
            <span>{{countdown.days}}</span>
            <!--<b>:</b>-->
          </div>
                  <div class="text-center color-white custom-text">DAYS</div>
          </li>
          <li class="semi-dot">:</li>
        <!--<span class="color-white pr20">DAYS</span>-->
        </ul>

      </div>
    </li>
        <li>
      <div class="time-hrs">
        <ul>
          <li>
        <div class="color-white font-tbl pinkback-custom">
            <span>{{countdown.hours}}</span>
            <!--<b>:</b>-->
          </div>
          <div class="color-white text-center custom-text">HOURS</div>
          </li>
          <li class="semi-dot">:</li>
        <!--<span class="color-white pr20">DAYS</span>-->
        </ul>

      </div>
    </li>
        <li>
      <div class="time-hrs">
        <ul>
          <li>
        <div class="color-white font-tbl pinkback-custom">
            <span>{{countdown.minutes}}</span>
            <!--<b>:</b>-->
          </div>
          <div class="color-white text-center custom-text">MINS</div>
          </li>
          <!--<li>:</li>-->
        <!--<span class="color-white pr20">DAYS</span>-->
        </ul>
      </div>
    </li>
    <!--<li>-->
      <!--<div class="time-hrs">
        <h1 class="color-white font-tbl">
            <span>04</span>
            <b>:</b>
          </h1>
        <span class="color-white pr20">HOURS</span>
      </div>
    </li>
    <li>
      <div class="time-hrs">
        <h1 class="color-white font-tbl">
            <span>11</span>

          </h1>
        <span class="color-white pr20">MINS</span>
      </div>
    </li>

  </ul>-->
      </div>
  </div>
  <a class="btn btn-large btn-sucess customize-cal text-center">Add to calender</a>

    </div>

  </div>

<!--</div>-->

<!--<div class="pink-line">
  <img src="img/game/band.png" class="img-responsive">
</div>-->
</section>
