<!-- <div class="container">

<flex-slider flex-slide="s in mySlides" prev-text="" next-text="">
<li>
<img ng-src="{{s}}">
</li>
</flex-slider>
</div> -->
<section>
    <div class="border-blue"></div>
  <div class="banner-title">
    <a ui-sref="panthers-den"><img src="img/home/Home-page.jpg" class="img-responsive" title="PANTHER DEN" alt="Jaipur Pink Panthers"></a>
    <section>
      <div class="page-title text-center">
        <!-- <div class="border-blue"></div> -->
      </div>
    </section>
  </div>
</section>
<div class="jpp-initial">
  <div class="section4">
    <div class="box-home">
      <div class="row margin0">
        <div class="col-sm-6 padding0 col-xs-12">
          <a>
            <div class="cont-box mr2 mb2">
              <div class="img-holder">
              <a href="http://jaipurpinkpanthers.com/#jpp-tv"><img ng-src="img/home/JPP-TV.jpg" alt="Jaipur Pink Panthers" title="JPPTV"class="img-responsive"></a>
              </div>
            </div>
          </a>
        </div>
        <div class="col-sm-6 padding0 col-xs-12">
          <a ui-sref="gallery">
            <div class="cont-box ml2 mb2">
              <div class="img-holder">
                <a href="http://jaipurpinkpanthers.com/#gallery"><img ng-src="img/home/GALLERY.jpg" title="GALLERY" alt="Jaipur Pink Panthers" class="img-responsive"></a>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="row margin0">
        <div class="col-sm-6 padding0 col-xs-12">
          <a>
            <div class="cont-box mr2 mb2">
              <div class="img-holder">
                <a href=""><img ng-src="img/home/GAMES-PANTHERS-PLAY.jpg" alt="Jaipur Pink Panthers" class="img-responsive" title="GAMES"></a>
              </div>
            </div>
          </a>
        </div>
        <div class="col-sm-6 padding0 col-xs-12">
          <a ui-sref="gallery">
            <div class="cont-box ml2 mb2">
              <div class="img-holder">
                <a href="http://jaipurpinkpanthers.com/#news-media"><img ng-src="img/home/NEWS-AND-UPDATES.jpg" alt="Jaipur Pink Panthers" class="img-responsive" title="NEWS AND UPDATES"></a>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="row margin0">
        <div class="col-sm-6 padding0 col-xs-12">
          <a>
            <div class="cont-box mr2 mb2">
              <div class="img-holder">
                <a href=""><img ng-src="img/home/PANTHER-ROOM.jpg" title="PANTHER ROOM" alt="Jaipur Pink Panthers" class="img-responsive"></a>
              </div>
            </div>
          </a>
        </div>
        <div class="col-sm-6 padding0 col-xs-12">
          <a ui-sref="gallery">
            <div class="cont-box ml2 mb2">
              <div class="img-holder">
                <a href="http://jaipurpinkpanthers.com/#wallpaper"><img ng-src="img/home/PANTHER-ROOM-copy.jpg" title="WALLPAPERS" alt="Jaipur Pink Panthers" class="img-responsive"></a>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="row margin0">
        <div class="col-sm-6 padding0 col-xs-12">
          <a ui-sref="news-media">
            <div class="cont-box mr2 mt2">
              <div class="img-holder">
                <a href="http://jaipurpinkpanthers.com/#ticket-merchandise"><img ng-src="img/home/Merchandise.jpg" alt="Jaipur Pink Panthers" title="MERCHANDISE" class="img-responsive"></a>
              </div>
            </div>
          </a>
        </div>
        <div class="col-sm-6 padding0 col-xs-12">
          <a ui-sref="wallpaper">
            <div class="cont-box ml2 mt2">
              <div class="img-holder">
                <a href="http://jaipurpinkpanthers.com/#ticket-merchandise"><img ng-src="img/home/BUY-TICKETS.jpg" title="BUY TICKETS" alt="Jaipur Pink Panthers" class="img-responsive"></a>
              </div>
            </div>
          </a>
        </div>
      
      </div>
    </div>
  </div>
</div>
