<!-- <div class="container">

  <flex-slider flex-slide="s in mySlides" prev-text="" next-text="">
        <li>
            <img ng-src="{{s}}">
        </li>
    </flex-slider>
  </div> -->
  <section>
    <div class="banner-title">
      <img src="img/banner/gallery.jpg" class="img-responsive" title="gallery" alt="Jaipur Pink Panthers">
      <section>
        <div class="page-title text-center">
          <div class="border-blue"></div>
        </div>
      </section>
    </div>
  </section>
  <section>
    <div class="banner-title">
      <img src="img/banner/gallery.jpg" class="img-responsive" title="gallery" alt="Jaipur Pink Panthers">
      <section>
        <div class="page-title text-center">
          <div class="border-blue"></div>
        </div>
      </section>
    </div>
  </section>
  <div class="jpp-initial">
  <div class="section4">
  <div class="box-home">
  <div class="row margin0">
  <div class="col-sm-6 padding0">
    <a ui-sref="">
      <div class="cont-box mr2 mb2">
        <div class="img-holder">
          <img ng-src="img/home/box1.jpg" alt="Jaipur Pink Panthers" class="img-responsive">
        </div>
      </div>
    </a>
  </div>
  <div class="col-sm-6 padding0">
    <a ui-sref="gallery">
      <div class="cont-box ml2 mb2">
        <div class="img-holder">
          <img ng-src="img/home/box2.jpg" alt="Jaipur Pink Panthers" class="img-responsive">
        </div>
      </div>
    </a>
  </div>
  </div>
  <div class="row margin0">
  <div class="col-sm-6 padding0">
    <a ui-sref="">
      <div class="cont-box mr2 mb2">
        <div class="img-holder">
          <img ng-src="img/home/box1.jpg" alt="Jaipur Pink Panthers" class="img-responsive">
        </div>
      </div>
    </a>
  </div>
  <div class="col-sm-6 padding0">
    <a ui-sref="gallery">
      <div class="cont-box ml2 mb2">
        <div class="img-holder">
          <img ng-src="img/home/box2.jpg" alt="Jaipur Pink Panthers" class="img-responsive">
        </div>
      </div>
    </a>
  </div>
  </div>
  <div class="row margin0">
  <div class="col-sm-6 padding0">
    <a ui-sref="">
      <div class="cont-box mr2 mb2">
        <div class="img-holder">
          <img ng-src="img/home/box1.jpg" alt="Jaipur Pink Panthers" class="img-responsive">
        </div>
      </div>
    </a>
  </div>
  <div class="col-sm-6 padding0">
    <a ui-sref="gallery">
      <div class="cont-box ml2 mb2">
        <div class="img-holder">
          <img ng-src="img/home/box2.jpg" alt="Jaipur Pink Panthers" class="img-responsive">
        </div>
      </div>
    </a>
  </div>
  </div>
  <div class="row margin0">
  <div class="col-sm-6 padding0">
    <a ui-sref="news-media">
      <div class="cont-box mr2 mt2">
        <div class="img-holder">
          <img ng-src="img/home/box3.jpg" alt="Jaipur Pink Panthers" class="img-responsive">
        </div>
      </div>
    </a>
  </div>
  <div class="col-sm-6 padding0">
    <a ui-sref="wallpaper">
      <div class="cont-box ml2 mt2">
        <div class="img-holder">
          <img ng-src="img/home/box4.jpg" alt="Jaipur Pink Panthers" class="img-responsive">
        </div>
      </div>
    </a>
  </div>
  </div>
  </div>
  </div>
</div>
