<div class="rapid">
	<div class="bgclas rapids guess">
	<div class="container">
	<div class="row">
		<div class="col-md-5 col-sm-5 col-xs-12">
			<img src="img/match/match.png" class="pull-right" height="200px" width="300px">
		</div>
			
			
		<div class="col-md-7 col-sm-7 col-xs-12 crosswordsec ">
			<div class="sections1" ng-show="sect1">
				
			<h1 class="modal-h1 text-uppercase">Game 4: <br/>
			Match The PANTHERS  </h1>
			<!--<button type="button"><img src="images/Rapid Fire.png" height="50px" width="50px"></button>-->
			<input type="image" ng-click="go();" class="playbutton" src="img/rapid/rapid-fire.png"  alt="Submit" width="50px" height="50px">
			
			</div>

				<div class="sections2" ng-hide="quiz">
				<!--<div class="countdown">
  <div class="countdown-number"></div>
  <svg>
    <circle r="18" cx="20" cy="20"></circle>
  </svg>
</div>-->
	<h1 class="modal-h1 text-uppercase">Game 4: <br/>
			Match The PANTHERS  </h1>
            <div class="guess-image">
<img src="img/guess/players.png" class="img-responsive" alt="players" height="200px" width="300px">
</div>
<div class="Modal-box">



       <form action="" class="radio radio-quiz">
		   <div class="form-group">
 <input type="radio" id="radio1" name="radio" value="Scorpian"  />
                    <label for="radio1">
                      <span></span>  Jasvir | Ajay
					  </label>
		   </div>
		   <div class="form-group">
 <input type="radio" id="radio2" name="radio" value="Kaali"  />
                    <label for="radio2">
                      <span></span> Mahipal | Ran
					  </label>
		   </div>
		   <div class="form-group">
 <input type="radio" id="radio3" name="radio" value="Kick"  />
                    <label for="radio3">
                      <span></span> Rohit | Tushar
					  </label>
		   </div>
                   <div class="form-group">
 <input type="radio" id="radio4" name="radio" value="Aankh"  />
                    <label for="radio4">
                      <span></span>Amit | Jasvir
					  </label>
				   </div>	  
                  </form>
				 



  <div class="quizbutton btn " ng-click="next();">Next</div> 
  <div class="quizbutton btn ">Skip</div>
</div>
			
			</div>

			<div class="sections3" ng-hide="score">
			<h1 class="modal-h1 text-uppercase">Game 4: <br/>
			Match The PANTHERS  </h1>
			<div class="Modal-box">
 <p class="f40">Your Score: 7/10</p>
 <h3 >Your Panther Raid Meter is 70%</h3>
 <button class="btn btn-lg quizbutton" ng-click="share();">SHARE WITH THE WORLD</button>
   
</div>
			
			</div>
					
		</div>
	</div>	
	</div>
</div>
</div>

