<div class="bg">
<div class="container">
  <div class="tabs">
  <uib-tabset>
    <uib-tab index="0">
        <uib-tab-heading>Ultimate Panther</uib-tab-heading>
    </uib-tab>
      <uib-tab index="1">
        <uib-tab-heading>Panther Army</uib-tab-heading>
      </uib-tab>
      <uib-tab index="2">
        <uib-tab-heading>Ultimate Panther</uib-tab-heading>
      </uib-tab>
      <uib-tab index="3">
        <uib-tab-heading>Panther Quiz</uib-tab-heading>
      </uib-tab>
    </uib-tabset>
</div>
<div class="battle-image">
  <a href=""><img src="img/home/battle.jpg" alt="" class="img-responsive"></a>
</div>
</div>
</div>
