<div class="bg">
  <div class="container">
    <div class="tabs">
      <uib-tabset>
        <uib-tab index="0">
          <uib-tab-heading class="uppercase-text">Auction With Abhishek</uib-tab-heading>
        </uib-tab>
        <uib-tab index="1">
          <uib-tab-heading  class="uppercase-text">Panther Army</uib-tab-heading>
          <div class="battle-image section1">
            <a href=""><img src="img/home/battle.jpg" alt="" class="img-responsive"></a>
          </div>
          <div class="battle-image section2">
            <form action="">
              <label class="text-center text-bold title" for="name">First up,let's give your army a name</label>
              <input type="text" class="form-control" id="name">
              <div class="add-friend text-center">
                <label class="text-center text-bold title">Add upto 4 friends to your army</label>
                <div class="image-box">
                  <a href="">
                    <div class="image-boxes">
                      <p><i class="fa fa-plus fa-2x" aria-hidden="true"></i></p>
                    </div>
                  </a>
                  <a href="">
                    <div class="image-boxes">
                      <p><i class="fa fa-plus fa-2x" aria-hidden="true"></i></p>
                    </div>
                  </a>
                  <a href="">
                    <div class="image-boxes">
                      <p><i class="fa fa-plus fa-2x" aria-hidden="true"></i></p>
                    </div>
                  </a>
                  <a href="">
                    <div class="image-boxes">
                      <p><i class="fa fa-plus fa-2x" aria-hidden="true"></i></p>
                    </div>
                  </a>
                </div>
              </div>
              <button type="submit" class="btn butns uppercase-text">Submit</button>
            </form>
            <ul class="pager">
              <li class="previous pull-right"><a href="#" class="uppercase-text">Previous</a></li>
            </ul>
          </div>
          <div class="battle-image section3">
            <div class="info-form text-center text-bold">
              <h3 class="text-capitalize">level 1</h3>
              <h2 class="uppercase-text text-bold">conquer all frontiers</h2>
              <p>Here's the first challenge.Answer all the questions below correctly to move to the next level.</p>
              <form role="form">
                <!-- <div class="form-group display-inline">
                  <div class="col-md-6">
                  <label class="question">What do you think should be our stratergy for season4 </label>
                  <label class="checkbox-inline">
                    <input type="checkbox" id="28" value="28">
                    <label for="28"><span></span>28</label>
                  </label>
                  <label class="checkbox-inline">
                    <input type="checkbox" id="28" value="28">
                    <label for="28"><span></span>28</label>
                  </label>
                  <label class="checkbox-inline">
                    <input type="checkbox" id="28" value="28">
                    <label for="28"><span></span>28</label>
                  </label>
                  <label class="checkbox-inline">
                    <input type="checkbox" id="28" value="28">
                    <label for="28"><span></span>28</label>
                  </label>
                </div>
                  </div> -->
                <!-- <div class="form-group display-inline">
                    <div class="col-md-6">
                  <label class="question">What do you think should be our stratergy for season4 </label>
                  <label class="checkbox-inline">
                    <input type="checkbox" id="28" value="28">
                    <label for="28"><span></span>28</label>
                  </label>
                  <label class="checkbox-inline">
                    <input type="checkbox" id="28" value="28">
                    <label for="28"><span></span>28</label>
                  </label>
                  <label class="checkbox-inline">
                    <input type="checkbox" id="28" value="28">
                    <label for="28"><span></span>28</label>
                  </label>
                  <label class="checkbox-inline">
                    <input type="checkbox" id="28" value="28">
                    <label for="28"><span></span>28</label>
                  </label>
                </div>
              </div> -->
                <!-- <div class="form-group display-inline">
                    <div class="col-md-6">
                  <label class="question">What do you think should be our stratergy for season4 </label>
                  <label class="checkbox-inline">
                    <input type="checkbox" id="28" value="28">
                    <label for="28"><span></span>28</label>
                  </label>
                  <label class="checkbox-inline">
                    <input type="checkbox" id="28" value="28">
                    <label for="28"><span></span>28</label>
                  </label>
                  <label class="checkbox-inline">
                    <input type="checkbox" id="28" value="28">
                    <label for="28"><span></span>28</label>
                  </label>
                  <label class="checkbox-inline">
                    <input type="checkbox" id="28" value="28">
                    <label for="28"><span></span>28</label>
                  </label>
                </div>
              </div> -->
                <!-- <div class="form-group display-inline">
                    <div class="col-md-6">
                  <label class="question" for="defining">What do you think should be our stratergy for season4 </label>
                   <input type="text" class="form-control" name="defining" id="defining">
                </div>
                <div class="form-group display-inline">
                  <label class="question" for="stratergy">What do you think should be our stratergy for season4 </label>
                   <input type="text" class="form-control" name="stratergy" id="stratergy">
                </div>
                  <div class="groups display-inline">
                <button type="submit" class="butns uppercase-text">Submit</button>
              </div>
              </form>
            </div> -->
<div class="row">
  <div class="col-md-6">
    <div class="bg-blue">
      <div class="row">
        <div class="text-lable">
          <h4>demo text</h4>
        </div>
        <div class="col-md-3">
          <div class="check-label">
            label
          </div>
        </div>
        <div class="col-md-3">
          <div class="check-label">
            label
          </div>
        </div>
        <div class="col-md-3">
          <div class="check-label">
            label
          </div>
        </div>
        <div class="col-md-3">
          <div class="check-label">
            label
          </div>
        </div>
        <!-- <div class="col-md-3"></div> -->
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="bg-blue">
      <div class="row">
        <div class="text-label">
          <h4>demo text</h4>
        </div>
        <div class="col-md-4">
          <div class="check-label">
            label
          </div>
          <div class="check-label">
            label
          </div>
        </div>
        <div class="col-md-4">
          <div class="check-label">
            label
          </div>
          <div class="check-label">
            label
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
          </div>
            <ul class="pager">
              <li class="previous pull-right"><a href="#" class="uppercase-text">Previous</a></li>
            </ul>
          </div>
        </uib-tab>
        <uib-tab index="2">
          <uib-tab-heading  class="uppercase-text">Ultimate Panther</uib-tab-heading>
        </uib-tab>
        <uib-tab index="3">
          <uib-tab-heading  class="uppercase-text">Panther Quiz</uib-tab-heading>
        </uib-tab>
      </uib-tabset>
    </div>
  </div>
</div>
<!-- <label class="checkbox-inline">
<input type="checkbox" id="ambassador" value="ambassador">
<label for="ambassador"><span></span>Branding Solution</label>
</label> -->
