<div class="rapid">
	<div class="bgclas rapids">
	<div class="container">
	<div class="row">
		<div class="col-md-5">
			<img src="img/rapid/title.png" class="pull-right" height="200px" width="300px">
		</div>
			
			
		<div class="col-md-7 crosswordsec">
			<div >
				
			<h1>GAME 1:<br/>
			HOW WELL DO YOU KNOW THE PANTHERS</h1>
			<!--<button type="button"><img src="images/Rapid Fire.png" height="50px" width="50px"></button>-->
			<input type="image" class="playbutton" src="img/rapid/rapid-fire.png" ng-click="confirmAddToCart();" alt="Submit" width="50px" height="50px">
			
			</div>
					
		</div>
	</div>	
	</div>
</div>
</div>

