<div>
  <div class="modal-body">
    <div class="frnds">
      <ul class="list-unstyled">
        <li ng-repeat="item in frnds">
          <!-- <a href="#" ng-click="$event.preventDefault(); selected.item = item"> -->
          <div class="image-holder"><img src="{{item.image}}" alt=""></div>
          <p class="text-center">
            {{item.name}}
          </p>
          <!-- </a> -->
        </li>
      </ul>
    </div>
  </div>
  <!-- <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
  </div> -->
</div>
