<!--<footer>
  <section>
    <div class="second-footer">
      <div class="container">
        <div class="row pall35" style="padding: 15px 0 12px;">
          <div class="">
            <div class="col-md-3 col-sm-3 col-xs-12">
              <div class="pink-name text-center mt7">
                <a href="">
                  <span class="font-f">© {{template.year}} {{'Jaipur Pink Panthers'|translate}}</span>
                </a>
              </div>
            </div>
            <div class="col-md-3 text-center col-sm-3 col-xs-12">
              <div class="follow display-inline text-center padd-footer ">
                <span class="font-f pr15">{{'FOLLOW US ON'|translate}}</span>
              </div>
              <div class="social-link custom-list display-inline text-center">
                <ul class="padding0 margin0">
                  <li>
                    <a href="https://www.facebook.com/JaipurPinkPanthers/" target="_blank">
                      <i class="fa fa-facebook"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://twitter.com/JaipurPanthers" target="_blank">
                      <i class="fa fa-twitter"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.instagram.com/jaipur_pinkpanthers/" target="_blank">
                      <i class="fa fa-instagram"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 ">
              <a href="mailto:info@jaipurpinkpanthers.com">
                <div class="email-foot mt5 text-center">
                  <i class="fa fa-envelope-o"></i>info@jaipurpinkpanthers.com
                </div>
              </a>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 ">
              <div class="ting  float-none-md text-center mt7">
              
                <a href="http://www.ting.in/" target="_blank"><span class="font-f">{{'Designed'|translate}} {{'by'|translate}}TING</span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</footer>-->

<footer>
  <section>
    <div class="first-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-1 col-sm-1">
            <div class="name-sponser display-inline">
              <h4 class="color-primary f20 margin0">{{'SPONSORS'|translate}}:</h4>
            </div>
          </div>
          <div class="col-md-11 col-sm-11">
            <div class="sponser-logo custom-list mini-text">
              <ul class="margin0 padding0 pl25">
                <li class="li-footer text-center">
                  <span class="f-span">Title Sponsor:</span>
                  <img src="img/logo/finolex.png" alt="dida logo " class="h60">
                </li>
                <li class="li-footer text-center">
                  <span class="f-span">Powered by:</span>
                  <span class="p20"><img src="img/logo/luxcozi.png" alt="dida logo" class="h25"></span>
                </li>
                <li class="li-footer text-center">
                  <span class="f-span">Associate Sponsor:</span>
                  <span class="p20"> <img src="img/logo/cycle-kalyan.png" alt="dida logo"></span>

                </li>
                <li class="li-footer text-center">
                  <span class="f-span">Prayer Partner:</span>
                  <span class="p20"> <img src="img/logo/cycle.png" alt="paytm logo"></span>
                </li>
                <li class="li-footer text-center">
                  <span class="f-span">Kitting Partner:</span>
                  <span class="p20"><img src="img/logo/dyf.png" alt="dida logo"></span>
                </li>

                <li class="li-footer text-center">
                  <span class="f-span">Educational Partner:</span>
                  <span class="p20"> <img src="img/logo/educational.png" alt="paytm logo"></span>
                </li>
                <li class="li-footer text-center">
                  <span class="f-span">Yoga Partner:</span>
                  <span class="p20"><img src="img/logo/yoga.png" alt="paytm logo"></span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="foo_sponsor h1 text-center" style="margin-top: 0px; font-size:50px; margin: 0px; padding-bottom:0px;">SPONSORS</div>
      <table width="93%" style="max-width:1200px; margin:0 auto;">
        <tbody>
          <tr align="center">

            <td align="center" class="h4 sponsor_container" style="padding-bottom: 30px;">
              <div class="spon col-md-5 col-md-offset-1">
                <div class="arran">
                  <div>Title Sponsor</div>
                  <a href="http://finolex.com/" target="_blank">
                  <img class="foo_icon foo_first_icon" src="img/sponsors/finolex.png"></a>
                </div>
              </div>
              <div class="spon col-md-5">
                <div class="arran">
                  <div>Powered By</div>
                  <a href="http://www.luxinnerwear.com/" target="_blank"> <img class="foo_icon" src="img/sponsors/lux-couzi.png"></a>
                </div>
              </div>
              <div class="spon col-md-4 ">
                <div class="arran">
                  <div> Prayer Partner</div>
                  <a href="https://www.cycle.in/" target="_blank"><img class="foo_icon" src="img/sponsors/cycle.png" style="width: 90%;padding: 0; margin-top: 20px;"></a>
                </div>
              </div>
              <div class="spon  col-md-8 ">
                <div class="arran" style="width: 100%;">
                  <div> Associate Sponsor</div>
                  <div class="" style="width:100%; padding-top:0px;">
                    <div class="col-md-4 col-xs-12" style=" padding:0px;"><a href="http://www.muthootfinance.com/" target="_blank"> 
                      <img class="mutho_kalyan_icon " src="img/sponsors/muthoot.jpg"></a>
                    </div>
                    <div class="col-md-4 col-xs-12" style=" padding:0px;"><a href="http://kalyanjewellers.net/" target="_blank">
                      <img class="mutho_kalyan_icon" src="img/sponsors/kalyan.png"  style="object-fit: contain;"></a>
                    </div>
                    <div class="col-md-4 col-xs-12" style=" padding:0px;"><a href="" target="_blank">
                      <img class="mutho_kalyan_icon" src="img/sponsors/performax.jpg"></a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="spon spon_small col-md-2 col-md-offset-1  col-xs-6">
                <div class="arran">
                  <div> Kitting Partner</div>
                  <a href="https://didasportswear.com/" target="_blank"> <img class="foo_icon2" src="img/sponsors/dida.jpg" style="padding-top: 0;"></a>
                </div>
              </div>
              <div class="spon spon_small col-md-2 col-xs-6">
                <div class="arran">
                  <div> FM Partner</div>
                  <a href="http://www.radiocity.in/" target="_blank"><img class="foo_icon2" src="img/sponsors/radio-city.png"></a>
                </div>
              </div>
              <div class="spon spon_small col-md-2 col-xs-6">
                <div class="arran">
                  <div> Ticketing Partner</div>
                  <a href="https://paytm.com/offer/event-offer/jaipur-pink-panthers/" target="_blank"><img class="foo_icon2 " src="img/sponsors/paytm.png"></a>
                </div>
              </div>
              <div class="spon  spon_small col-md-2 col-xs-6">
                <div class="arran">
                  <div> Medical Partner</div>
                  <a href="http://www.narayanahealth.org/" target="_blank"><img class="nara" src="img/sponsors/narayana.png" style="" ></a>
                </div>
              </div>
              <div class="spon spon_small col-md-2 col-xs-6">

                <div class="arran">
                  <div> Multiplex Partner</div>
                  <a href="https://www.inoxmovies.com/Index.aspx" target="_blank"> <img class="foo_icon2" src="img/sponsors/inox.png "></a>
                </div>
              </div>


            </td>
          </tr>
        </tbody>

      </table>

    </div> -->
      <div class="second-footer hidden-xs">
        <div class="container">
          <div class="row pall35">
            <div class="">
              <div class="col-md-3 col-sm-3">
                <div class="pink-name text-center-md mt7">
                  <a href="">
                    <span class="font-f">© {{template.year}} {{'Jaipur Pink Panthers'|translate}}</span>
                  </a>
                </div>
              </div>
              <div class="col-md-3 text-center col-sm-3">
                <div class="follow display-inline text-center-md padd-footer">
                  <span class="font-f pr15">{{'FOLLOW US ON'|translate}}</span>
                </div>
                <div class="social-link custom-list display-inline text-center-md">
                  <ul class="padding0 margin0">
                    <li>
                      <a href="https://www.facebook.com/JaipurPinkPanthers/" target="_blank">
                        <i class="fa fa-facebook"></i>
                      </a>
                    </li>
                    <li>
                      <a href="https://twitter.com/JaipurPanthers" target="_blank">
                        <i class="fa fa-twitter"></i>
                      </a>
                    </li>
                    <li>
                      <a href="https://www.instagram.com/jaipur_pinkpanthers/" target="_blank">
                        <i class="fa fa-instagram"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-md-3">
                <div class="email-foot text-right mt6">
                  <i class="fa fa-envelope-o"></i>info@jaipurpinkpanthers.com
                </div>
              </div>
              <div class="col-md-3 col-sm-3">
                <div class="ting float-none-md text-center mt6">
                  <span class="font-f">{{'Designed'|translate}} {{'by'|translate}}
                    <a href="http://www.ting.in/" target="_blank">TING</a>
                  </span> |
                  <span class="font-f tgc">
                    <a href="http://thegratitudecompany.in/" target="_blank">
                      <img src="img/tgc.png" class="img-responsive">
                    </a>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="second-footer mobile-footer visible-xs hidden-sm hidden-md">
        <div class="container">
          <div class="row pall35">
            <div class="">
              <div class="col-md-3 text-center col-sm-3">
                <div class="follow  text-center-md padd-footer">
                  <span class="font-f ">{{'FOLLOW US ON'|translate}}</span>
                </div>
                <div class="social-link custom-list display-inline text-center-md">
                  <ul class="padding0 margin0">
                    <li>
                      <a href="https://www.facebook.com/JaipurPinkPanthers/" target="_blank">
                        <i class="fa fa-facebook"></i>
                      </a>
                    </li>
                    <li>
                      <a href="https://twitter.com/JaipurPanthers" target="_blank">
                        <i class="fa fa-twitter"></i>
                      </a>
                    </li>
                    <li>
                      <a href="https://www.instagram.com/jaipur_pinkpanthers/" target="_blank">
                        <i class="fa fa-instagram"></i>
                      </a>
                    </li>
                  </ul>
                </div>
                <!-- <div class="social-link custom-list display-inline text-center-md">
                <ul class="margin0 padding0 pl25">
                  <li class="li-footer text-center">
                    <span class="f-span">Title Sponsor:</span>
                    <img src="img/logo/finolex.png" alt="dida logo">
                  </li>
                  <li class="li-footer text-center">
                    <span class="f-span">Powered by:</span>
                    <img src="img/logo/luxcozi.png" alt="dida logo">
                  </li>
                  <li class="li-footer text-center">
                    <span class="f-span">Associate Sponsor:</span>
                    <img src="img/logo/cycle-kalyan.png" alt="dida logo">
                  </li>

                  <li class="li-footer text-center">
                    <span class="f-span">Kitting Partner:</span>
                    <img src="img/logo/dida-logo.png" alt="dida logo">
                  </li>
                  <li class="li-footer text-center">
                    <span class="f-span">Ticketing Partner:</span>
                    <img src="img/logo/paytm-logo.png" alt="paytm logo">
                  </li>
                  <li class="li-footer text-center">
                    <span class="f-span">FM Partner:</span>
                    <img src="img/logo/radio-logo.png" alt="radio logo">
                  </li>
                  <li class="li-footer text-center">
                    <span class="f-span">Multiplex Partner:</span>
                    <img src="img/logo/inox.png" alt="Inox logo">
                  </li>
                </ul>
              </div> -->
              </div>
              <div class="col-md-3 col-sm-3">
                <div class="pink-name text-center-md">
                  <a href="">
                    <span class="font-f">© {{template.year}} {{'Jaipur Pink Panthers'|translate}}</span>
                  </a>
                </div>
              </div>
              <div class="col-md-3">
                <div class="email-foot">
                  <i class="fa fa-envelope-o"></i>info@jaipurpinkpanthers.com
                </div>
              </div>
              <div class="col-md-3 col-sm-3">
                <div class="ting pull-right float-none-md text-center mt6">
                  <span class="font-f">{{'Designed'|translate}} {{'by'|translate}}
                    <a href="http://www.ting.in/" target="_blank">TING</a> &amp;
                    <a href="http://www.yfldigital.com/" target="_blank">YFLdigital</a>
                  </span> |
                  <span class="font-f tgc">
                    <a href="http://thegratitudecompany.in/" target="_blank">
                      <img src="img/tgc.png" class="img-responsive">
                    </a>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>
</footer>