<header ng-controller="headerctrl">
    <div class="language-holder" ng-controller="languageCtrl">
        <div class="container">
            <span>The Official website of Jaipur Pink Panthers</span>
            <div class="pull-right">
                <span ng-class="{'selected' : languageActive == 'en'}" ng-click="changeLanguage2('en');">English</span> |
                <span ng-class="{'selected' : languageActive == 'hi'}" ng-click="changeLanguage2('hi');">Hindi</span>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-default navbar-fixed-top head-section">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-sm-2  padding0">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-collapse" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="http://jaipurpinkpanthers.com/beta/#/">
                            <img src="img/mini-logo.png" alt="logo" title="Jpp" class="img-responsive">
                        </a>
                    </div>
                </div>
                <div class="col-md-8 col-sm-8 ">
                    <div class="collapse navbar-collapse" id="nav-collapse">
                        <div ng-include="template.menu" class="template menu"></div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2 hidden-xs">
                    <ul class="list-inline mt20 log-sign logs-sign text-right">
                        <li class="line-after" ng-click="logs();" ng-if="!loggedIn"><a>{{'Login' |translate}}</a></li>
                        <li ng-click="logs();" ng-if="!loggedIn"><a>{{'Signup'|translate}}</a></li>
                        <!-- <li ng-if="loggedIn" ng-click="logoutUser();"><a>{{'Logout'|translate}}</a></li> -->
                    </ul>
                    <div class="dropdown reg" ng-if="loggedIn">
                        <button class="btn btn-primary dropdown-toggle " type="button" data-toggle="dropdown"> Hi {{userFirstName}}<img src="img/banner/Abhi.png" class="img-responsive display-inline photo" alt="">
                <span class="arrow-down"><i class="fa fa-angle-down" aria-hidden="true"></i></span></button>
                        <ul class="drops dropdown-menu">
                            <li><a ng-click="logoutUser()" ng-if="loggedIn">{{'Logout'|translate}}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </nav>
</header>