<ul class="nav navbar-nav navs head-menu hidden-xs ">
  <li ng-repeat="menu in navigation" class="menu-custom-li {{menu.classis}}">
    <a ui-sref="{{menu.anchor}}" ng-if="menu.anchor" class=" menu-custom">{{menu.name |translate}}</a>
    <a href="{{menu.link}}" class="menu-custom" ng-if="menu.link">{{menu.name |translate}}</a>
    <a ui-sref="{{menu.url}}" class="menu-custom" ng-if="menu.url">{{menu.name |translate}}</a>
    <ul class="dropdown-menu" ng-if="menu.subnav!='';">
      <li ng-repeat="submenu in menu.subnav">
        <a class="subnav" ui-sref="{{submenu.link}}">{{submenu.name}}</a>
      </li>
    </ul>
  </li>
  <li class="visible-xs regis">
    <!-- <div class="dropdown reg">
      <button class="btn btn-primary dropdown-toggle " type="button" data-toggle="dropdown">Abhishek<img src="img/Abhi.png" class="img-responsive display-inline photo" alt="">
        <span class="arrow-down"><i class="fa fa-angle-down" aria-hidden="true"></i></span></button>
        <ul class="drops dropdown-menu">
          <li><a href="#">Details</a></li>
          <li><a href="#">Suggest a friend</a></li>
          <li><a href="#">Log Out</a></li>
        </ul>
      </div> -->
    <!-- <select name="registering" id="register">
      <option value="log in">log in</option>
      <option value="know more">know more</option>
    </select> -->
    </div>
  </li>
</ul>
<ul class="nav navbar-nav head-menu visible-xs hidden-sm hidden-md">
  <li ng-repeat="menu in navigation" class="menu-custom-li {{menu.classis}}">
    <a ui-sref="{{menu.anchor}}" ng-if="menu.anchor" class=" menu-custom">{{menu.name |translate}}</a>
    <a href="{{menu.link}}" class="menu-custom" ng-if="menu.link">{{menu.name |translate}}</a>
    <a ui-sref="{{menu.url}}" class="menu-custom" ng-if="menu.url">{{menu.name |translate}}</a>
    <ul class="dropdown-menu" ng-if="menu.subnav!='';">
      <li ng-repeat="submenu in menu.subnav">
        <a class="subnav" ui-sref="{{submenu.link}}">{{submenu.name}}</a>
      </li>
    </ul>
  </li>
  <li class="menu-changed">
    <ul class="list-inline mt20 log-sign text-center">
      <li class="line-after" ng-if="!loggedIn" ng-click="logs();"><a>{{'Login' |translate}}</a></li>
      <li ng-click="logs();" ng-if="!loggedIn"><a>{{'Signup'|translate}}</a></li>
    </ul>
  </li>
</ul>