<div class="modal-container">
    <div class="otp-one login-head otp-two text-center otps">
        <a href="" class="closes" ng-click="$dismiss();">
            <img src="img/rapid/close.png" class="img-responsive" alt="cross">
            <!--<i class="fa fa-2x fa-times-circle-o" aria-hidden="true"></i>-->
        </a>
        <h1 class="text-uppercase">otp</h1>
        <p>Enter your email id. below and </br> you’ll receive a 4 Digit Verification Code.</p>
        <form name="forms-otp1" class="form-otp" ng-submit="submitEmailId(forgotPassData)">
            <div class="form-groups">
                <input type="text" placeholder="Enter your email id." ng-model="forgotPassData.email">
            </div>
            <button class="btn btn-default btn-go text-uppercase" type="submit">go</button>
            <!-- <button class="btn btn-default btn-go text-uppercase" ng-click="otpsucess();" type="submit">go</button> -->
            <div ng-if="invalidEmail">Please ente valid EmailId</div>
        </form>
    </div>
</div>