<h1>GAME 1:<br/>
			HOW WELL DO YOU KNOW THE PANTHERS</h1>
<div class="Modal-box">

 <!-- timer -->
 <div class="countdown">
  <div class="countdown-number"></div>
  <svg>
    <circle r="18" cx="20" cy="20"></circle>
  </svg>
</div>
<!-- timer end -->


 <p>Q1: What is Jasvir Sing's signature move?</p>
 <br />

 
 
 <input type="radio" name="optradio">Scorpian Kick &nbsp;
 <input type="radio" name="optradio">Kaali Aankh
 </br>
 <input type="radio" name="optradio">Scorpian Kick &nbsp;
 <input type="radio" name="optradio">Kaali Aankh
 </br></br>
  <button class="quizbutton" ng-click="score();">Next</button> <button class="quizbutton">Skip</button>
</div>